# Dependencies
node_modules

# Build output
dist
dist-ssr
*.local

# Environment variables
.env.local
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# gh-pages
.cache

# Temp files
tmpclaude-*

.vercel
